# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp

# Virtual environment
venv/
env/
ENV/

# Byte-compiled / cache
*.pyc
*.pyo
*.pyd
*.pdb

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Downloads / output
downloads/

# Secrets (opcional)
*.env
